@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,600,800&display=swap');

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(0, 0%, 98%);
  color: hsl(200, 15%, 8%);
}

code {
  font-family: 'Nunito Sans', sans-serif;
}
